<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div ng-app="" ng-init="name='cat'; namebb='dog'; namecc='pig'">
   <p>Both examples use ng-model inside input textboxes</p>
   <br></br>

   <p>Example using double curly braces called expressions</p>
   <p>Name : <input type="text" ng-model="name"></p>
   <h1>Hello {{name}}</h1>
   <br></br>

   <p>Example using ng-bind</p>
   <p>NameBB : <input type="text" ng-model="namebb"></p>
   <h1>nameBB is: <span ng-bind="namebb"></span></h1>
   <br></br>

   <p>You can use data-ng- instead of ng- if you want to make your page HTML valid</p>
   <p>NameCC : <input type="text" data-ng-model="namecc"></p>
   <h1>namecc is: <span data-ng-bind="namecc"></span></h1>

</div>

</body>
</html>
