<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<p>So what you think is an expression outside of ng-app div, will not evaluate as expression it will be displayed as is.<br>
Example: {{ 5 + 5 }}</p>


<div ng-app="myApp" ng-init="name='cat'; namebb='dog'; namecc='pig'; myCol='lightblue'; person={first:'John',last:'Doe'}; points=[1,15,19,2,40]" ng-controller="myCtrl">
   <p>examples use ng-model inside input textboxes</p>
   <br>

   <p>Example using double curly braces called expressions</p>
   <p>name : <input type="text" ng-model="name"></p>
   <h1>name = {{name}}</h1>
   <br>

   <p>Example using ng-bind</p>
   <p>namebb : <input type="text" ng-model="namebb"></p>
   <h1>namebb = <span ng-bind="namebb"></span></h1>
   <br>

   <p>You can use data-ng- instead of ng- if you want to make your page HTML valid</p>
   <p>namecc : <input type="text" data-ng-model="namecc"></p>
   <h1>namecc = <span data-ng-bind="namecc"></span></h1>
   <br>

   <p>Example using expression in CSS property</p>
   <input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">
   <br>
   <br>
   <br>

   <p>Example using objects</p>
   <p>The ng-init initialized last of person is {{person.last }}</p>
   <br>
   <br>
   <br>

   <p>Example using arrays</p>
   <p>The 3rd result of points is {{points[2] }}</p>
   <br>
   <br>
   <br>


   <p>First example using module and controller</p>
   firstName: <input type="text" ng-model="firstName"><br>
   lastName: <input type="text" ng-model="lastName"><br>
   full name: {{firstName + " " + lastName}}
   <br>
   <br>
   <br>

   <p>example using directive</p>
   <p w3-test-directive></div>
   <br>
   <br>
   <br>
</div>

<script>
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope) {
     $scope.firstName="John";
     $scope.lastName="Doe";
});

app.directive("w3TestDirective", function() {
     return {
         template : "This is made in a directive constructor!"
     };
});

</script>

    
</body>
</html>
