<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div ng-app="" ng-init="name='cat'; namebb='dog'">
   <p>Both examples use ng-model inside input textboxes</p>
   <br></br>

   <p>Example using double curly braces</p>
   <p>Name : <input type="text" ng-model="name"></p>
   <h1>Hello {{name}}</h1>
   <br></br>

   <p>Example using ng-bind</p>
   <p>Input something in to this input box:</p>
   <p>NameBB : <input type="text" ng-model="namebb"></p>
   <h1>nameBB is: <span ng-bind="namebb"></span></h1>
   <br></br>

</div>

</body>
</html>
