<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <input type="button" onclick="window.location.href='./ejstest'" value="ejstest">
    <input type="button" onclick="window.location.href='./B'"       value="B">
</body>
</html>
