<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h2>show my results here</h2>
<% results.forEach(function(r) { %>
   <p>name: <%= r.name %></p>
<% }); %>


</body>
</html>
