<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h2>show my results here</h2>
   <% results.cards.forEach(function(r) { %>
      <p>name: <%= r.name %></p>
   <% }); %>
</body>
</html>
