<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h2>show my results here</h2>
   <% for (int xx=0; xx < results.cards.length; xx++) { %>
      <p>name: <%= results.cards[xx].name %></p>
   <% } %>
</body>
</html>
