<!doctype html>
<html>
    <head>
        <title>Fun With Boxes</title>
    </head>
    <body>
    <h1>Interview</h1>
    <h2>Instructions:</h2>
    <p>3 Squares Below (Red, Green, Blue)</p>
 
    <!-- Arrange squares here -->
    <img src="/red.png">
    <img src="/green.png">
    <img src="/blue.png">
 
 
 
    </body>
</html>
